{{>layouts/header}}

{{#article}}
<form class="container" action="/articles/update" method="post">

    <input name="id" type="hidden" value="{{id}}">
    <div class="mb-3"></div>
    <input type="text" class="form-control" name="title" value="{{title}}">
    <textarea class="form-control" rows="3" name="content">{{content}}</textarea>

    <button type="submit">Submit</button>
    <a href="/articles/{{id}}">Back</a>
</form>
{{/article}}

{{>layouts/footer}}